
.container {
    background: rgba(179, 179, 180, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-top:70px;
}

.form-group {
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #05173f;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0b2b70;
}



