<div class="container ">
  <h3>Add Customer <br>Details</h3>
  <div class="form-group mt-3">
    <input type="name" class="form-control" id="inputEmail4"  placeholder="Name" [(ngModel)]="customer.name">
  </div>
  <div class="form-group mt-3">
    <input type="txt" class="form-control" id="inputPassword4" placeholder="City" [(ngModel)]="customer.city">
  </div>
  <div class="form-group mt-3">
    <input type="txt" class="form-control" id="inputAddress" placeholder="Contact" [(ngModel)]="customer.contact">
  </div>
  
  <!-- <div class="form-group">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div> -->
 
  <div class="form-group">
    <button type="submit" class="btn btn-primary" (click)="addCustomer()">Add</button>
  </div>
</div>